/* ---------------------- MEDIA: DESKTOP  SMALL-------------------------*/
@media screen and (min-width: 1500px) and (max-width: 2000px){
    /* --------------- ALL PAGES ----------------- */
    /* logo */
    .logo {
        width: 18%;
        margin: 20px 45px;
    }

    .logo img {
        height: auto;
        width: 40%;
    }

    /* header title */
    .header-title {
        display: flex;
        flex-direction: column;
        width: 60%;
        text-align: center;
        margin-top: 25px;
    }

    .header-title h1 {
        font-family: Chomsky;
        font-size: 70px;
    }

    .header-title h2 {
        font-weight: 300;
        font-size: 30px;
        padding-top: 15px;
    }

    /* pop-up menu */
    nav ul
    {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #dc8665;
        right: -100%;
        text-align: center;
        transition: all .5s;
        padding-top: 17%;
    }

    nav ul.show
    {
        right: 0;
    }

    nav li
    {
        display: block;
        margin: 50px 0;
        line-height: 150px;
    }

    nav a
    {
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 8em;
        font-weight: 700;
    }

    nav a:hover
    {
        color: #478ba2;
    }

    /* menu icon */
    header #menu {
        display: block;
        margin: 50px 0;
        cursor: pointer;
        margin-left: 12vw;
        transition: .3s;
        z-index: 2;
    }

    header #menu img {
        height: 40px;
    }

    /* ---------- FOOTER ------------ */
    footer {
        display: flex;
        flex-direction: row;
        position: static;
        bottom: 0;
        justify-content: space-evenly;
        width: 100%;
    }

    .footbox-1, .footbox-2 {
        margin: 20px;
    }

    .footbox-1 {
        width: 50%;
    }

    .footbox-1 h2 {
        margin-top: 50px;
        font-size: 40px;
    }

    .footbox-2 {
        display: flex;
        padding-top: 40px;
    }

    .footbox-2 a {
        text-decoration: none;
        color: black;
        margin: 0 40px;
    }

    .footbox-2 img {
        margin-top: 2px;
    }

    .fa-circle{
        padding-top: 15px;
    }

    /* --------------- HOMEPAGE ----------------- */
    /* ---------- CONTENT ------------ */
    .content {
        margin: 0 2%;
    }

    .content p {
        
        font-size: 24px;
    }

    /* top display content */
    .top-display {
        display: flex;
        margin-top: 5%;
        height: 50vh;
        width: 100%;
        justify-content: center;;
    }

    .td {
        width: 35%;
        margin: 15px;
        background-color: #ffcbc89f;
    }

    .td img{
        width: 100%;
        height: 22vh;
    }

    .td h1 {
        text-transform: uppercase;
    }

    #td1 h1, #td3 h1 {
        font-size: 35px;
        padding-top: 15px;
        padding-left: 8px;
    }

    #td1 p, #td3 p {
        font-size: 30px;
        padding-top: 20px;
        padding-left: 8px;
    }

    #td2{
        text-align: center;
        padding-top: 15vh;
    }

    #td2 h1 {
        font-size: 45px;
        text-decoration: underline;
    }

    #td2 p {
        font-size: 35px;
        padding-top: 30px;
    }

    .vert-line {
        border-left: 1px solid black;
        margin-top: 16px;
        height: 47.4vh;
    }

    /* name box */
    .name-box {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.788);
        height: 30vw;
        margin-top: 30px;
    }

    .name-box h1 {
        color: #de5b6d;
        line-height: 34vw;
        letter-spacing: -.03em;
        text-transform: uppercase;
        font-size: 37vw;
        text-align: center;
    }

    /* middle display content */
    .middle-display{
        display: flex;
        margin-top: 30px;
    }
    
    .md {
        margin: 15px;
    }

    #md1 {
        width: 35%;
    }

    #md1 h1{
        text-align: center;
        font-size: 60px;
        text-transform: uppercase;
    }

    #md1 img{
        width: 100%;
        margin: 10px 0;
        height: 40vh;
        border: 1px solid black;
        background-image: url(img/me-tårn.jpg);
        background-position: center;
        background-size: cover;
    }

    #md1 p {
        font-size: 35px;
        background-color: #ffcbc89f;
        padding-left: 8px;
    }

    #md2 {
        width: 65%;
        border-left: 1px solid black;
        padding-left: 15px;
    }

    #md2 video {
        background-color: black;
        width: 100%;
        height: 60%;
    }

    #md2 p {
        font-size: 35px;
        margin-top: 20px;
        background-color: #ffcbc89f;
        padding-left: 8px;
        padding-right: 8px;
    }

    /* projects display */
    .project-title {
        margin: 30px 0;
    }

    .project-title h1 {
        font-size: 60px;
        text-align: center;
        text-transform: uppercase;
        position: relative;
    }

    .project-title h1:before {
        content: "";
        display: block;
        width: 34vw;
        height: 2px;
        background: #000;
        left: 0;
        top: 50%;
        position: absolute;
    }
      
    .project-title h1:after {
        content: "";
        display: block;
        width: 34vw;
        height: 2px;
        background: #000;
        right: 0;
        top: 50%;
        position: absolute;
    }

    .projects-display {
        display: flex;   
        margin-top: 20px; 
    }

    .pd {
        height: 40em;
        width: 40%;
        border-radius: 5%;
    }

    .pd h2 {
        margin: 20px 15px;
        font-size: 40px;
        font-weight: 600;
        color: white;
    }

    #pd1, #pd2, #pd3 {
        
        margin-right: 2%;
    }

    #pd1, #pd2, #pd3, #pd4 {
        background-position: center;
        background-size: cover;
    }

    #pd1 {
        background-image: url(../img/all.jpg);
    }

    #pd2 {
        background-image: url(../img/photoshop.png);
    }

    #pd3 {
        background-image: url(../img/drawings.jpg);
    }

    #pd4 {
        background-image: url(../img/photography.jpg);
    }

    #pd1:hover, #pd2:hover, #pd3:hover, #pd4:hover {
        background: #534666;
        transition: .6s cubic-bezier(.23, 1, .32, 1);
    }

    /* scrolling banner */
    marquee{
        margin-top: 50px;
        font-size: 60px;
        font-weight: 700;
        width: 100%;
        height: 80px;
        font-size: 80px;
        font-weight: 700;
        text-transform: uppercase;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 40px 0;
    }

    marquee a {
        font-size: 80px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        margin: 15px 100px;
        color: black;
        background-color: #534666;
        padding: 10px;
    }

    /* --------------- ABOUT ME PAGE ----------------- */
    .about-me {
        display: flex;
    }

    .img-of-me1 {
        width: 35vw;
        height: 40vh;
        margin: 40px 10px 0 10px;
        background-image: url(../img/grid1.jpg);
        background-position: center;
        background-size: cover;
    }

    .img-of-me2 {
        width: 35vw;
        height: 40vh;
        margin: 40px 10px 0 10px;
        background-image: url(../img/grid3.jpg);
        background-position: center;
        background-size: cover;
    }

    .img-of-me3 {
        width: 35vw;
        height: 40vh;
        margin: 40px 10px 0 10px;
        background-image: url(../img/grid8.jpg);
        background-position: center;
        background-size: cover;
    }

    .img-of-me4 {
        width: 35vw;
        height: 40vh;
        margin: 40px 10px 0 10px;
        background-image: url(../img/grid7.jpg);
        background-position: center;
        background-size: cover;
    }

    /* Bottom content */
    .information {
        display: flex;
        margin-top: 120px;
    }
      
    .info{
        width: 50%;
        height: 70vh;
        background-color: #ffcbc8c4;
    }

    .info h1, .info3 h1 {
        text-align: center;
        padding-top: 20px;
        font-size: 40px;
    }

    .info p {
        padding: 20px 15px;
        font-size: 27px;
        line-height: 30px;
    }

    .info1 {
        margin-right: 15px;
    }

    .info2 {
        margin-left: 15px;
    }
    

    .info3 p {
        padding: 20px 45px;
        font-size: 27px;
        text-align: center;
    }

    .contact{
        background-color: #ffcbc8c4;
        margin-top: 20px;
    }

    .vert-info-line {
        border-left: 1px solid black;
        height: 70vh;
    }

    input[type=text], textarea {
        width: 90%;
        padding: 12px;
        border-radius: 5px;
        box-sizing: border-box;
        margin: 10px 70px;
        resize: vertical;
        background-color: #de5b6ddc;
        font-size: 20px;
    }
    
    input[type=submit] {
        background-color: #478ba2;
        color: white;
        padding: 12px 20px;
        margin: 30px 47%;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 20px;
    }

    /* --------------- PORTFOLIO PAGE ----------------- */
    .top-projects {
        width: 95%;
        background-color: #dc8765de;
        margin: 70px 50px 0 50px;
    }

    .tabs {
        overflow: hidden;
    }
    
    .tabs button {
        font-family: inherit;
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 35px;
    }
    
    .tabs button.active {
        background-color: #b9d4db;
    }

    .tab-content {
        display: none;
        font-size: 30px;
        padding: 6px 12px;
        border-top: #b9d4db 2px solid;
    }    

    /* Sub tabs */
    .tab-radio {
        display: none;
      }

    .sub-tab {
        overflow: hidden;
    }

    .sub-tab-content, .tab-content {
    display: none;
    }

    .tab-radio:checked + .tab-content,
    .tab-radio:checked + .sub-tab-content {
    display: block;
    }

    .sub-tabs-container {
        margin-top: 40px;
    }
    
    .sub-tabs-container label {
        cursor: pointer;
        padding: 10px;
        font-size: 20px;
        margin-left: 14%;
        color: #030700;
        min-width: 150px;
        text-align: center;
        background-color: #b9d4db;
        box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    }
    
    .sub-tabs-container label:active {
        color: #37474f;
        box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.3);
    }
    
    .sub-tabs-container label:hover {
        background-color: #ffccbc;
    }

    /* To top button */
    .to-top-btn a{
        position: fixed;
        right: 20px;
        bottom: 50px;
        text-decoration: none;
        color: #000;
    }

    /* CphBusiness projects */
    #Study-projects h1{
        text-align: center;
        margin-top: 40px;
    }

    #Study-projects p{
        text-align: center;
        margin-top: 20px;
        padding: 0 20px;
    }

    .sem1-links {
        margin-top: 20px;
        margin-left: 6%;
        display: flex;
        font-weight: 600;
    }

    .sem1-links a{
        color: #000;
        padding: 10px 20px;
        font-size: 20px;
        font-style: italic;
        text-decoration: underline;
    }

    .sub-tab-content h1 {
        font-size: 50px;
        font-weight: 700;
    }

    .notbold {
        font-weight: 600;
        font-size: 40px;
    }
    
    /* Semester 1 - Flow 1 */
    .sem1-flow1-img {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .sem1-flow1-img h2{
        text-align: center;
        font-size: 25px;
        text-transform: uppercase;
        margin-top: 16vh;
        background-color: rgba(255, 255, 255, 0.815);
    }

    .sem1-flow1-img1 {
        height: 30vh;
        width: 20vw;
        margin-top: 20px;
        background-image: url(../img/creative.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .sem1-flow1-img2 {
        height: 30vh;
        width: 20vw;
        margin: 20px 35px;
        background-image: url(../img/polarized.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .sem1-flow1-img3 {
        height: 30vh;
        width: 20vw;
        margin-top: 20px;
        background-image: url(../img/retro.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .sub-tab-content ul{
        margin-left: 14%;
        font-size: 25px;
        font-weight: 600;
    }

    .sub-tab-content ol{
        margin-left: 25%;
        font-size: 25px;
        font-weight: 600;
    }

    .sem1-flow1-img4 {
        height: 30vh;
        width: 25vw;
        margin-top: 20px;
        margin-left: 5%;
        background-image: url(../img/creative2.png);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .sem1-flow1-img5 {
        height: 30vh;
        width: 25vw;
        margin: 20px 35px;
        background-image: url(../img/polarized2.png);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .sem1-flow1-img6 {
        height: 30vh;
        width: 25vw;
        margin-top: 20px;
        background-image: url(../img/retro2.png);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .sem1-flow1-img7 {
        height: 30vh;
        width: 20vw;
        margin-top: 20px;
        margin-left: 14%;
        background-image: url(../img/love.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .sem1-flow1-img8 {
        height: 30vh;
        width: 20vw;
        margin: 20px 35px;
        background-image: url(../img/nature.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .sem1-flow1-img9 {
        height: 30vh;
        width: 20vw;
        margin-top: 20px;
        margin-right: 14%;
        background-image: url(../img/strong-colors.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .sem1-flow1-img10 {
        height: 30vh;
        width: 20vw;
        margin-top: 20px;
        background-image: url(../img/reflection.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .sem1-flow1-img11 {
        height: 30vh;
        width: 20vw;
        margin-top: 20px;
        margin-left: 35px;
        background-image: url(../img/movement.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .sem1-flow1-img12 {
        height: 33vh;
        width: 18vw;
        margin-top: 20px;
        background-image: url(../img/sem1-flow1-wireframe1.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .sem1-flow1-img13 {
        height: 33vh;
        width: 18vw;
        margin-top: 20px;
        margin-left: 25px;
        background-image: url(../img/sem1-flow1-wireframe2.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .sem1-flow1-img14 {
        height: 33vh;
        width: 18vw;
        margin-top: 20px;
        margin-left: 25px;
        background-image: url(../img/sem1-flow1-wireframe3.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .sem1-flow1-img15 {
        height: 33vh;
        width: 18vw;
        margin-top: 20px;
        margin-left: 25px;
        background-image: url(../img/sem1-flow1-wireframe4.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .sem1-flow1-img16 {
        height: 52vh;
        width: 100vw;
        margin-top: 20px;
        background-image: url(../img/sem1-flow1-sitemap.png);
        background-position: center;
        background-size: cover;
        border-radius: 2%;
    }

    .sem1-flow1-img17 {
        height: 30vh;
        width: 18vw;
        margin-top: 20px;
        background-image: url(../img/putin-before.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .sem1-flow1-img18 {
        height: 30vh;
        width: 18vw;
        margin-top: 20px;
        margin-left: 35px;
        background-image: url(../img/putin-after.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    /* Semester 1 - Flow 2 */
    .sem1-flow2-img {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .sem1-flow2-img h1{
        font-size: 20px;
        text-align: center;
        width: 100%;
    }

    .sem1-flow2-img1 {
        height: 40vh;
        width: 20vw;
        margin-top: 20px;
        background-image: url(../img/sem1-flow2-wireframe1.png);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .sem1-flow2-img2 {
        height: 40vh;
        width: 20vw;
        margin-top: 20px;
        margin-left: 25px;
        background-image: url(../img/sem1-flow2-wireframe2.png);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .sem1-flow2-img3 {
        height: 40vh;
        width: 20vw;
        margin-top: 20px;
        margin-left: 25px;
        background-image: url(../img/sem1-flow2-wireframe3.png);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .sem1-flow2-img4 {
        height: 40vh;
        width: 58vw;
        margin-top: 20px;
        background-image: url(../img/sem1-flow2-wireframe4.png);
        background-position: center;
        background-size: cover;
        border-radius: 2%;
    }

    .sem1-flow2-img5 {
        height: 40vh;
        width: 30vw;
        margin-top: 20px;
        background-image: url(../img/sem1-flow2-wireframe5.png);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .sem1-flow2-img6 {
        height: 40vh;
        width: 58vw;
        margin-top: 20px;
        background-image: url(../img/sem1-flow2-wireframe6.png);
        background-position: center;
        background-size: cover;
        border-radius: 2%;
    }

    /* Semester 1 - Flow 3 */
    .sem1-flow4-img {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .sem1-flow4-img1 {
        height: 60vh;
        width: 62vw;
        margin-top: 20px;
        background-image: url(../img/sem1-flow4-storyboard1.png);
        background-position: center;
        background-size: cover;
        border-radius: 2%;
    }

    .sem1-flow4-img2 {
        height: 60vh;
        width: 62vw;
        margin-top: 20px;
        background-image: url(../img/sem1-flow4-storyboard2.png);
        background-position: center;
        background-size: cover;
        border-radius: 2%;
    }

    .sem1-flow4-img3 {
        height: 40vh;
        width: 100vw;
        margin-top: 20px;
        background-image: url(../img/sem1-flow4-shotlist.png);
        background-position: center;
        background-size: cover;
        border-radius: 2%;
    }

    /* Personal projects */
    #Personal-projects h1{
        text-align: center;
        margin-top: 40px;
        border-bottom: #000 2px solid;
    }

    #Personal-projects h2{
        text-align: center;
        margin-top: 40px;
        font-size: 40px;
        font-style: italic;
    }

    #Personal-projects p{
        text-align: center;
        margin-top: 20px;
        padding: 0 20px;
    }

    .personal-img {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .personal-links {
        display: flex;
        font-weight: 600;
        width: 100%;
        justify-content: center;
    }

    .personal-links a{
        color: #000;
        padding: 10px 20px;
        font-size: 40px;
        text-decoration: underline;
    }

    .drawings-links {
        margin-top: 20px;
        display: flex;
        font-weight: 600;
        margin-left: 40px;
        width: 100%;
        justify-content: center;
    }

    .drawings-links a{
        color: #000;
        padding: 10px 20px;
        font-size: 20px;
        font-style: italic;
        text-decoration: underline;
    }

    /* anime and human */
    .drawngs-img1 {
        height: 43vh;
        width: 25vw;
        margin-top: 20px;
        margin-left: 3%;
        background-image: url(../img/drawing1.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .drawngs-img2 {
        height: 43vh;
        width: 25vw;
        margin-top: 20px;
        margin-left: 20px;
        background-image: url(../img/drawing2.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .drawngs-img3 {
        height: 43vh;
        width: 25vw;
        margin-top: 20px;
        margin-left: 20px;
        background-image: url(../img/drawing3.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .drawngs-img4 {
        height: 43vh;
        width: 25vw;
        margin-top: 20px;
        margin-left: 3%;
        background-image: url(../img/drawing4.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .drawngs-img5 {
        height: 43vh;
        width: 25vw;
        margin-top: 20px;
        margin-left: 20px;
        background-image: url(../img/drawing5.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .drawngs-img6 {
        height: 43vh;
        width: 25vw;
        margin-top: 20px;
        margin-left: 20px;
        background-image: url(../img/drawing6.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .drawngs-img7 {
        height: 43vh;
        width: 25vw;
        margin-top: 20px;
        margin-left: 3%;
        background-image: url(../img/drawing7.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .drawngs-img8 {
        height: 43vh;
        width: 50vw;
        margin-top: 20px;
        margin-left: 20px;
        background-image: url(../img/drawing8.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .drawngs-img9 {
        height: 43vh;
        width: 25vw;
        margin-top: 20px;
        margin-left: 20px;
        background-image: url(../img/drawing9.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .drawngs-img10 {
        height: 43vh;
        width: 25vw;
        margin-top: 20px;
        margin-left: 20px;
        background-image: url(../img/drawing10.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .drawngs-img11 {
        height: 43vh;
        width: 25vw;
        margin-top: 20px;
        margin-left: 20px;
        background-image: url(../img/drawing11.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .drawngs-img12 {
        height: 55vh;
        width: 70vw;
        margin-top: 20px;
        background-image: url(../img/drawing12.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .drawngs-img13 {
        height: 43vh;
        width: 20vw;
        margin-top: 20px;
        background-image: url(../img/drawing13.png);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .drawngs-img14 {
        height: 43vh;
        width: 30vw;
        margin-top: 20px;
        margin-left: 20px;
        background-image: url(../img/drawing14.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    /* logo and tattoo */
    .log-tat-img1 {
        height: 30vh;
        width: 45vw;
        margin-top: 20px;
        background-image: url(../img/log-tat1.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .log-tat-img2 {
        height: 30vh;
        width: 40vw;
        margin-top: 20px;
        margin-left: 10px;
        background-image: url(../img/log-tat2.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .log-tat-img3 {
        height: 30vh;
        width: 50vw;
        margin-top: 20px;
        background-image: url(../img/log-tat3.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .log-tat-img4 {
        height: 45vh;
        width: 40vw;
        margin-top: 20px;
        background-image: url(../img/log-tat4.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .log-tat-img5 {
        height: 50vh;
        width: 38vw;
        margin-top: 20px;
        background-image: url(../img/log-tat5.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .log-tat-img6 {
        height: 50vh;
        width: 44vw;
        margin-top: 20px;
        margin-left: 15px;
        background-image: url(../img/log-tat6.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .log-tat-img7 {
        height: 60vh;
        width: 50vw;
        margin-top: 20px;
        background-image: url(../img/log-tat7.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    /* other drawings */
    /* rose */
    .other-img1 {
        height: 37vh;
        width: 20vw;
        margin-top: 20px;
        margin-left: 3%;
        background-image: url(../img/other1.png);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    /* dark angle */
    .other-img2 {
        height: 37vh;
        width: 35vw;
        margin-top: 20px;
        margin-left: 3%;
        background-image: url(../img/other2.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    /* skeleton */
    .other-img3 {
        height: 37vh;
        width: 35vw;
        margin-top: 20px;
        margin-left: 7%;
        background-image: url(../img/other3.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    /* rain man */
    .other-img4 {
        height: 40vh;
        width: 25vw;
        margin-top: 20px;
        margin-left: 3%;
        background-image: url(../img/other4.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    /* don't grow up */
    .other-img5 {
        height: 48vh;
        width: 30vw;
        margin-top: 20px;
        margin-left: 7%;
        background-image: url(../img/other5.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    /* revoluton */
    .other-img6 {
        height: 48vh;
        width: 40vw;
        margin-top: 20px;
        margin-left: 3%;
        background-image: url(../img/other6.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    /* eye 1 */
    .other-img7 {
        height: 37vh;
        width: 20vw;
        margin-top: 20px;
        margin-left: 3%;
        background-image: url(../img/other7.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    /* lips */
    .other-img8 {
        height: 37vh;
        width: 35vw;
        margin-top: 20px;
        margin-left: 3%;
        background-image: url(../img/other8.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    /* eye 2 */
    .other-img9 {
        height: 40vh;
        width: 25vw;
        margin-top: 20px;
        margin-left: 3%;
        background-image: url(../img/other9.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    /* bb8 */
    .other-img10 {
        height: 40vh;
        width: 25vw;
        margin-top: 20px;
        margin-left: 3%;
        background-image: url(../img/other10.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    /* bornholm */
    .other-img11 {
        height: 45vh;
        width: 25vw;
        margin-top: 20px;
        margin-left: 3%;
        background-image: url(../img/other11.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    /* water */
    .other-img12 {
        height: 45vh;
        width: 25vw;
        margin-top: 20px;
        margin-left: 3%;
        background-image: url(../img/other12.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    /* eye 3 */
    .other-img13 {
        height: 45vh;
        width: 25vw;
        margin-top: 20px;
        margin-left: 3%;
        background-image: url(../img/other13.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    /* paintings */
    .painting-img1 {
        height: 45vh;
        width: 25vw;
        margin-top: 20px;
        margin-left: 3%;
        background-image: url(../img/painting1.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .painting-img2 {
        height: 45vh;
        width: 25vw;
        margin-top: 20px;
        margin-left: 20px;
        background-image: url(../img/painting2.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .painting-img3 {
        height: 45vh;
        width: 25vw;
        margin-top: 20px;
        margin-left: 20px;
        background-image: url(../img/painting3.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .painting-img4 {
        height: 60vh;
        width: 45vw;
        margin-top: 20px;
        background-image: url(../img/painting4.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .painting-img5 {
        height: 60vh;
        width: 35vw;
        margin-top: 20px;
        margin-left: 10px;
        background-image: url(../img/painting5.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .painting-img6 {
        height: 40vh;
        width: 50vw;
        margin-top: 20px;
        background-image: url(../img/painting6.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    /* photography */
    .photo-img1 {
        height: 37vh;
        width: 25vw;
        margin-top: 20px;
        background-image: url(../img/photo1.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .photo-img2 {
        height: 37vh;
        width: 25vw;
        margin-top: 20px;
        margin-left: 20px;
        background-image: url(../img/photo2.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .photo-img3 {
        height: 37vh;
        width: 25vw;
        margin-top: 20px;
        margin-left: 20px;
        background-image: url(../img/photo3.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .photo-img4 {
        height: 37vh;
        width: 25vw;
        margin-top: 20px;
        background-image: url(../img/photo4.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .photo-img5 {
        height: 37vh;
        width: 25vw;
        margin-top: 20px;
        margin-left: 20px;
        background-image: url(../img/photo5.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .photo-img6 {
        height: 37vh;
        width: 25vw;
        margin-top: 20px;
        margin-left: 20px;
        background-image: url(../img/photo6.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .photo-img7 {
        height: 37vh;
        width: 25vw;
        margin-top: 20px;
        background-image: url(../img/photo7.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .photo-img8 {
        height: 37vh;
        width: 25vw;
        margin-top: 20px;
        margin-left: 20px;
        background-image: url(../img/photo8.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .photo-img9 {
        height: 37vh;
        width: 25vw;
        margin-top: 20px;
        margin-left: 20px;
        background-image: url(../img/photo9.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .photo-img10 {
        height: 37vh;
        width: 25vw;
        margin-top: 20px;
        background-image: url(../img/photo10.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .photo-img11 {
        height: 37vh;
        width: 25vw;
        margin-top: 20px;
        margin-left: 20px;
        background-image: url(../img/photo11.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .photo-img12 {
        height: 37vh;
        width: 25vw;
        margin-top: 20px;
        margin-left: 20px;
        background-image: url(../img/photo12.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }
}