/* RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Yrsa', serif;
    background-color: #cd777298;
    position: relative;
}

@font-face {
    font-family: Chomsky;
    src: url(chomsky/Chomsky.otf);
}

.paperOverlay {
    background-image: url("../img/background.png");
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat-y;
    mix-blend-mode: multiply;
    pointer-events: none;
    background-size: cover;
    z-index: -1;
}

nav ul{
    position: fixed;
    width: 70%;
    height: 100%;
    background-image: conic-gradient(#f2a490, #de5b6d, #f2a490, #de5b6d, #f2a490);
    right: -100%;
    text-align: center;
    transition: all .5s;
    padding-top: 20%;
}

nav ul.show
{
    right: 0;
}

/* ---------- HEADER ------------ */
header {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* Sticky gør at header bliver når man scroller */
    position: sticky;
    top: 0;
    /* Når z-index er på 1, så er elementet øverst, og indholdet vil derfor altid opstå bagved headeren */
    z-index: 1;
    border-bottom: 1px solid black;
    background-color: #FFCBC8;
    max-height: 200px;
}






















